  .panel-toggle-button {
    display: none;
  }
  
  .panel-column {
    width: 400px; 
  }

  @media (max-width: 1507px) {
    .panel-toggle-button {
      display: inherit; 
    }
  
    .panel-column {
      position: absolute; 
      top: 82px; 
      bottom: 0;
      right: 0; 
    }
  }
  
  @media (max-width: 820px) {
    .panel-column {
      width: 100%; 
    }
  }
 
  @media (max-width: 362px) {
    .panel-column {
        top: 120px; 
    }
  }

  